<div class="background-image">

</div>

<div class="card seach-card" style="left:37%; width:25rem">
    <div class="card-body p-4 bg-dark">
        <div class="text-white text-center border-bottom">
            <h4>Signup</h4>
        </div>
        <div>
            <div class="text-white my-3">
                <label for="">Name *</label>
                <input type="text" class="form-control" [(ngModel)]="signUpForm.name">
            </div>
            <div class="text-white my-2">
                <label for="">Password *</label>
                <input type="password" class="form-control" [(ngModel)]="signUpForm.password">
            </div>
            <div class="text-white my-2">
                <label for="">Email *</label>
                <input type="email" class="form-control" [(ngModel)]="signUpForm.email">
            </div>
            <div class="d-grid mt-4 gap-3">
                <button class="btn btn-primary text-white float-start" type="button" (click)="navigateToLogin()"><b>Login</b></button>
                <button class="btn btn-primary text-white float-end" type="button" (click)="signUp()"><b>Sign up</b></button>
            </div>
        </div>
    </div>
</div>